*__pycache__*
*.pyc
*.so
cython/build
outputs/*
dataset/*
*.pdf
*.gv
screenlog*
.vscode

\.idea/
output/*
evaluationResult\.json

pretrained/

utils/operator_cxx/HeatPafParser/build
utils/operator_cxx/PAFGen/build
utils/operator_cxx/HeatGen/build
.cproject

.project

.settings/
